/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
}

body {
  background-color: white;
  font-size: 10pt;
  font-family: Malgun Gothic;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  border-bottom: 1px solid #222;
}

h1 { font-size: 1.5em; margin-bottom: 1em; }
h2 { font-size: 1.3em; margin-bottom: 0.8em; }
h3 { font-size: 1.1em; }
h4, h5, h6 { font-size: 1.0em; }

p { margin: 1em 0; }

a { color: #f57900; text-decoration: none; }
a:hover { color: black; }
a:visited { color: #f57900; }

table { font-size: inherit; font: 100%; }

blockquote {
  background: #EEF;
  border: 1px dotted #bbb;
  margin: 20px;
  padding: 10px;
}

blockquote p {
  padding: 0;
  margin: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts { list-style-type: none; margin-bottom: 0; padding: 0; }
ul.posts li { line-height: 1.75em; }

.sidebar ul.posts li { line-height: 1.5em; }

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  line-height: 1.5em;
  background: #ddd;
}

.body {
  width: 57em;
  margin: 1em auto 2em auto;
}

.header {
  color: #f57900;
  background: #222;
  font-weight: bold;
  border-bottom: 3px solid #a00;
  margin-bottom: 2em;
  padding: 25px 20px 2px;
}

.site .header a { color: #f57900; text-decoration: none; }
.site .header a:hover { color: white; }
.site .header a.extra { color: #aaa; text-decoration: none; margin-left: 1em; }
.site .header a.extra:hover { color: #f57900; }

.site .meta { color: #aaa; }

.site .body { overflow: auto; }

.site .footer {
  font-size: 0.8em;
  color: #666;
  background: #222;
  border-top: 1px solid #eee;
  margin-top: 10em;
  overflow: auto;
  padding: 0 20px;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
  padding: 2px;
  width: 16em;
}

.site .footer .contact#personal-info { width: 20em; }

.site .footer .contact a { color: #8085C1; }
.site .footer .label { margin-top: 1em; }
.site .footer ul { margin-bottom: 1em; list-style: none; padding: 0; }

.site .content {
  float: left;
  width: 38em;
}

.site .sidebar {
  text-align: left;
  float: right;
  width: 17em;
}

.site .sidebar h1,
.site .sidebar h2,
.site .sidebar h3,
.site .sidebar h4,
.site .sidebar h5,
.site .sidebar h6 {
  color: #999;
}

.site .footer .rss {
  float: right;
  text-align: right;
}

.item_share { text-align: right; }
.item_share img { vertical-align: middle; }

.item_tags { text-align: right; padding-bottom: 1em; }

.post-tail {
  margin: 2em 0 1em 0;
  padding: 0.2em;
  border-top: 1px solid #eee;
}

.post-tail h2 {
  margin-bottom: 1em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

/* standard */

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.25em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 95%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/* misc
/*****************************************************************************/


.wall-panel {
  margin: 0 0 1em;
  overflow: auto;
}

.half-panel {
  float: left;
  width: 26em;
  margin: 0 0 0 1em;
  padding: 0;
}


.side-widget {
  padding: 0px 2px;
  margin-bottom: 2em;
  line-height: 1.2em;
}

.side-widget h1 {
  border-bottom: 1px solid #999;
}

.side-widget .widget-box {
  border-left: 5px solid #999;
  margin: 0 0 1em 2px;
  padding: 0 0 0 8px;
}


#tagcloud div.cloud { text-align: center; }

/* delicious */
#delicious-panel a, #delicious-panel a:visited,
#delicious-box a, #delicious-box a:visited { color: #2374d0; }
#delicious-box { border-left: 5px solid #2374d0; }
.delicious-posts,
.delicious-tags,
.delicious-networkbadge {
}

#twitter-box { border-left: 5px solid #32cbff; }
#linkedin-box { border-left: 5px solid #3393bb; }
#flickr-box { border-left: 5px solid #3993ff; }



