<div class="wall-panel" id="delicious-panel">
<h2>My Delicous</h2>
	<div class="half-panel">
	<script type="text/javascript"
	src="http://feeds.delicious.com/v2/js/sio4?title=Recent%20Bookmarks&icon=rss&count=5&bullet=%C2%BB&sort=date&extended"
	></script>
	</div>
	<div class="half-panel">
	<script type="text/javascript"
	src="http://feeds.delicious.com/v2/js/tags/sio4?title=Tags&count=100&sort=freq&flow=cloud&color=73adff-3274d0&size=6-20"
	></script>
	</div>
</div>


<!-- vim: set ts=2 sw=2: -->
