		<script>
(function() {
	var cx = '012459888336565318553:uw4f8qygvjm';
	var gcse = document.createElement('script');
	gcse.type = 'text/javascript';
	gcse.async = true;
	gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		'//cse.google.com/cse.js?cx=' + cx;
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(gcse, s);
})();
		</script>
		<gcse:search></gcse:search>

		<style>
.gsc-control-cse {
	background-color: inherit;
	border-color: #eeeeee;
	border-radius: 5px;
	padding: 0.3rem;
}
form.gsc-search-box {
	margin: 0;
}
table.gsc-search-box { margin: 0; }
table.gsc-search-box td.gsc-input { padding: 0; }
table.gsc-search-box td.gsc-clear-button { display: none; }
table.gsc-branding { display: none !important; }
		</style>
