	<span class="share-title">이 글이 맘에 드시나요? </span>
	<!-- addthis -->
	<div class="addthis_toolbox addthis_default_style addthis_custom_images">
		<a class="addthis_button_facebook"><i class="icon facebook square"></i></a>
		<a class="addthis_button_twitter"><i class="icon twitter"></i></a>
		<a class="addthis_button_delicious"><i class="icon delicious"></i></a>
		<a class="addthis_button_digg"><i class="icon digg"></i></a>
		<a class="addthis_button_google"><i class="icon google"></i></a>
		<a class="addthis_button_linkedin"><i class="icon linkedin square"></i></a>
		<a class="addthis_button_favorites"><i class="icon heart"></i></a>
		<a class="addthis_button_email"><i class="icon mail"></i></a>
	</div>
	<script type="text/javascript"
		src="http://s7.addthis.com/js/250/addthis_widget.js#username=sio4"></script>
	<!-- end-of-addthis -->
<!-- vim: set ts=2 sw=2 noexpandtab : -->
