	Share this post...
	<!-- delicious - ->
	<a href="http://delicious.com/save" onclick="window.open('http://delicious.com/save?v=5&noui&jump=close&url='
		+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),
		'delicious','toolbar=no,width=550,height=550'); return false;"><img border="0"
		src="http://static.delicious.com/img/delicious.small.gif" height="16" width="16" alt="Delicious" /></a>
	<!- - end-of-delicious -->
	<!-- facebook - ->
	<a name="fb_share" type="button_count"
		href="http://www.facebook.com/sharer.php">Share</a><script
		src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"
		type="text/javascript"></script>
	<!- - end-of-facebook -->
	<!-- addthis -->
	<div class="addthis_toolbox addthis_default_style addthis_custom_images">
		<a class="addthis_button_facebook"><img
			src="/images/handycons/facebook_16.png"></a>
		<a class="addthis_button_twitter"><img
			src="/images/handycons/twitter_16.png"></a>
		<a class="addthis_button_delicious"><img
			src="/images/handycons/delicious_16.png"></a>
		<a class="addthis_button_digg"><img
			src="/images/handycons/digg_16.png"></a>
		<a class="addthis_button_google"><img
			src="/images/handycons/google_16.png"></a>
		<a class="addthis_button_linkedin"><img
			src="/images/handycons/linkedin_16.png"></a>
		<a class="addthis_button_favorites"><img
			src="/images/handycons/heart_16.png"></a>
		<a class="addthis_button_email"><img
			src="/images/handycons/email_16.png"></a>
	</div>
	<script type="text/javascript"
		src="http://s7.addthis.com/js/250/addthis_widget.js#username=sio4"></script>
	<!-- end-of-addthis -->

<!-- vim: set ts=2 sw=2: -->
