<!-- facebook -->
<div class="fb-like" data-href="{{ site.url }}{{ page.url }}"
	data-layout="button_count" data-action="like" data-show-faces="false"
	data-share="true"></div>
<!--div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}"
														 data-layout="button_count"></div-->
<!-- twitter -->
<div class="twitter-share"><a href="https://twitter.com/share"
	class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}"
	data-via="scinix" data-hashtags="SauruSo">Twt</a></div>
<!-- google+ -->
<div class="g-plus" data-action="share" data-annotation="bubble"
	data-href="{{ site.url }}{{ page.url }}"></div>
<!-- pocket
<div><a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a></div>
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
-->
