{% comment %}
    for google+ button, https://developers.google.com/+/web/+1button/?hl=ko
    https://dev.twitter.com/web/javascript/loading, 2015-08-01
{% endcomment %}
<!-- initialize official social shares for facebook, google, and twitter -->
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.4&appId={{ site.fb_app_id }}";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://apis.google.com/js/platform.js" async defer>
	{lang: 'ko'}
</script>
<script>
  window.twttr = (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0],
	  t = window.twttr || {};
	  if (d.getElementById(id)) return t;
	  js = d.createElement(s);
	  js.id = id;
	  js.src = "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);
	  t._e = [];
	  t.ready = function(f) {
		  t._e.push(f);
	  };
	  return t;
  }(document, "script", "twitter-wjs"));
</script>
<!-- initialize official social shares for facebook, google, and twitter -->
