  <div class="cloud">
    <a href="/tags/free-software.html" title="Postings tagged free-software"
        style="font-size: 0.8em; line-height:0.8em"
       >free-software</a>
    <a href="/tags/freedom.html" title="Postings tagged freedom"
        style="font-size: 0.8em; line-height:0.8em"
       >freedom</a>
    <a href="/tags/opensource.html" title="Postings tagged opensource"
        style="font-size: 1.2em; line-height:1.2em"
       >opensource</a>
    <a href="/tags/rules-of-action.html" title="Postings tagged rules-of-action"
        style="font-size: 1.0em; line-height:1.0em"
       >rules-of-action</a>
    <a href="/tags/rules-of-me.html" title="Postings tagged rules-of-me"
        style="font-size: 0.8em; line-height:0.8em"
       >rules-of-me</a>
  </div>
