  <div class="cloud tac">
    <a href="/tags/Canonical.html" title="Postings tagged Canonical"
        style="font-size: 0.74em; line-height:0.74rem"
       >Canonical</a>
    <a href="/tags/FOSS.html" title="Postings tagged FOSS"
        style="font-size: 0.74em; line-height:0.74rem"
       >FOSS</a>
    <a href="/tags/Gallorg.html" title="Postings tagged Gallorg"
        style="font-size: 0.74em; line-height:0.74rem"
       >Gallorg</a>
    <a href="/tags/Redhat.html" title="Postings tagged Redhat"
        style="font-size: 0.74em; line-height:0.74rem"
       >Redhat</a>
    <a href="/tags/Software-Appliance.html" title="Postings tagged Software-Appliance"
        style="font-size: 0.88em; line-height:0.88rem"
       >Software-Appliance</a>
    <a href="/tags/Sun-Microsystems.html" title="Postings tagged Sun-Microsystems"
        style="font-size: 0.88em; line-height:0.88rem"
       >Sun-Microsystems</a>
    <a href="/tags/Ubuntu.html" title="Postings tagged Ubuntu"
        style="font-size: 1.09em; line-height:1.09rem"
       >Ubuntu</a>
    <a href="/tags/kvm.html" title="Postings tagged kvm"
        style="font-size: 0.74em; line-height:0.74rem"
       >kvm</a>
    <a href="/tags/가상화.html" title="Postings tagged 가상화"
        style="font-size: 0.95em; line-height:0.95rem"
       >가상화</a>
    <a href="/tags/갤럭시S.html" title="Postings tagged 갤럭시S"
        style="font-size: 0.74em; line-height:0.74rem"
       >갤럭시S</a>
    <a href="/tags/공동체.html" title="Postings tagged 공동체"
        style="font-size: 0.81em; line-height:0.81rem"
       >공동체</a>
    <a href="/tags/구글.html" title="Postings tagged 구글"
        style="font-size: 0.81em; line-height:0.81rem"
       >구글</a>
    <a href="/tags/사용자지향.html" title="Postings tagged 사용자지향"
        style="font-size: 0.74em; line-height:0.74rem"
       >사용자지향</a>
    <a href="/tags/사진.html" title="Postings tagged 사진"
        style="font-size: 0.74em; line-height:0.74rem"
       >사진</a>
    <a href="/tags/상호운용성.html" title="Postings tagged 상호운용성"
        style="font-size: 0.74em; line-height:0.74rem"
       >상호운용성</a>
    <a href="/tags/소셜네트워크.html" title="Postings tagged 소셜네트워크"
        style="font-size: 0.74em; line-height:0.74rem"
       >소셜네트워크</a>
    <a href="/tags/소식.html" title="Postings tagged 소식"
        style="font-size: 0.74em; line-height:0.74rem"
       >소식</a>
    <a href="/tags/안드로이드.html" title="Postings tagged 안드로이드"
        style="font-size: 0.95em; line-height:0.95rem"
       >안드로이드</a>
    <a href="/tags/앱.html" title="Postings tagged 앱"
        style="font-size: 0.81em; line-height:0.81rem"
       >앱</a>
    <a href="/tags/오픈소스.html" title="Postings tagged 오픈소스"
        style="font-size: 1.65em; line-height:1.65rem"
       >오픈소스</a>
    <a href="/tags/자료해방.html" title="Postings tagged 자료해방"
        style="font-size: 0.74em; line-height:0.74rem"
       >자료해방</a>
    <a href="/tags/클라우드컴퓨팅.html" title="Postings tagged 클라우드컴퓨팅"
        style="font-size: 1.5100000000000002em; line-height:1.5100000000000002rem"
       >클라우드컴퓨팅</a>
    <a href="/tags/행동수칙.html" title="Postings tagged 행동수칙"
        style="font-size: 0.88em; line-height:0.88rem"
       >행동수칙</a>
  </div>
