  <div class="cloud tac">
    <a href="/tags/Gallorg.html" title="Postings tagged Gallorg"
        style="font-size: 0.88em; line-height:0.88rem"
       >Gallorg</a>
    <a href="/tags/갤럭시S.html" title="Postings tagged 갤럭시S"
        style="font-size: 0.88em; line-height:0.88rem"
       >갤럭시S</a>
    <a href="/tags/사진.html" title="Postings tagged 사진"
        style="font-size: 0.88em; line-height:0.88rem"
       >사진</a>
    <a href="/tags/소셜네트워크.html" title="Postings tagged 소셜네트워크"
        style="font-size: 0.88em; line-height:0.88rem"
       >소셜네트워크</a>
    <a href="/tags/안드로이드.html" title="Postings tagged 안드로이드"
        style="font-size: 1.3em; line-height:1.3rem"
       >안드로이드</a>
    <a href="/tags/앱.html" title="Postings tagged 앱"
        style="font-size: 1.02em; line-height:1.02rem"
       >앱</a>
    <a href="/tags/행동수칙.html" title="Postings tagged 행동수칙"
        style="font-size: 1.02em; line-height:1.02rem"
       >행동수칙</a>
  </div>
