---
layout: site
---
<div class="so contents" id="content-sidebar">
{{ content }}</div><!-- #content-sidebar -->

<div class="so sidebar" id="side-sidebar">
	<div class="side-widget" id="personal">
	{% include personal.html %}	</div>

	<div class="side-widget" id="google-search">
{% include google-search.html %}	</div>

	<div class="side-widget" id="twitter-mention">
		<a href="https://twitter.com/intent/tweet?screen_name=scinix&text=%EC%9D%B4%EA%B1%B4%20%EC%96%B4%EB%95%8C%EC%9A%94%3F" class="twitter-mention-button" data-related="scinix">Tweet으로 @scinix에게 제안하기</a> 트윗으로 제안하기!
		<!-- init-twitter required -->
		<!-- https://about.twitter.com/resources/buttons#mention -->
	</div>

	<div class="side-widget" id="facebook-like">
		<div id="facebook-box">
			<div class="fb-follow" data-href="https://www.facebook.com/yonghwan.so"
				data-layout="standard" data-show-faces="true" width="250px"></div>
		</div>
	</div>

	<div class="side-widget" id="recent-posts">
		<h1>Recent 10!</h1>
		<ul class="posts"> {% for post in site.posts limit:10 %}
			<li><i class="fa fa-file-o heading"></i>
				<a href="{{ post.url }}">{{ post.title }}</a>{% endfor %}
		</ul>
	</div>

	<div class="side-widget" id="my-project">
		<h1>My Projects</h1>
{% include projects.html %}
		<div>&raquo; <a href="/pages/projects.html">자세히...</a></div>
	</div>

	<div class="side-widget" id="categories">
		<h1>Categories</h1>
{% include categories.html %}	</div>

	<div class="side-widget" id="social-networks">
		<h1>Pages</h1>
		<ul>
			<li><a href="/pages/projects.html">My Projects</a></li>
			<li><a href="/pages/social.html">Social Activities</a></li>
		</ul>
	</div>

	<div class="side-widget" id="tagcloud">
		<h1>My Tags</h1>
{% include tags.html %}	</div>

	<div class="side-widget" id="social-networks">
		<div class="widget-box tac" id="flickr-box">
{% include flickr-badge.html %}		</div>
	</div> <!-- my network -->
</div><!-- .page-sidebar#side-sidebar -->
