<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% assign description = page.excerpt |strip_html |newline_to_br |strip_newlines |replace: '<br />', ' ' %}
{% if page.modified %}{% assign ut = page.modified %}{% else %}{% assign ut = page.date %}{% endif %}{% assign ut = ut |date: '%s' %}
{% if page.image %} {% assign sc = page.image |split:'/' |first %} {% if sc == '' %} {% assign og_image = site.url |append: page.image %} {% else %} {% assign og_image = page.image %} {% endif %} {% else %} {% assign og_image = site.url |append: site.default_image %} {% endif %}
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" type="image/png" href="/favicon-192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon.png">

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="ko" />
	<meta name="pocket-site-verification" content="9ab7951b6104ecd5d0de0ca0fbfc90" />
	<meta name="author" content="소용환/Yonghwan SO" />
	<meta name="keywords" content="소용환의 블로그, {{ page.tags |join:', ' }}" />
	<meta name="description" content="{{ description }}" />
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

	<meta property="fb:app_id" content="{{ site.app_id }}" />
	<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
	{% if page.title %}<meta property="og:title" content="{{ page.title }}" />{% else %}<meta property="og:title" content="{{ site.title }}" />{% endif %}
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:locale" content="ko_KR" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:image" content="{{ og_image }}" />
	<meta property="article:author" content="{{ site.author_page }}" />
	{% if ut %}<meta property="og:updated_time" content="{{ ut }}" />{% endif %}

	<title>{% if page.title %}{{ page.title }} -- {% endif %}{{ site.title }}</title>
	<link href="{{ site.feedurl }}" title="{{ site.title }}"
			rel="alternate" type="application/atom+xml" />

	<link rel="stylesheet" href="/assets/vendor/semantic-ui/semantic.min.css" />
	<link rel="stylesheet" href="/assets/vendor/fa/css/font-awesome.min.css" />
	<script src="/assets/vendor/jquery-1.11.3.min.js"></script>
	<script src="/assets/vendor/semantic-ui/semantic.min.js"></script>

	<link rel="stylesheet" href="/assets/syntax.css" type="text/css" />
	<link rel="stylesheet" href="/assets/so-web.css" type="text/css" />

	<script src="/assets/vendor/raphael-min.js"></script>
	<script src="/assets/vendor/underscore-min.js"></script>
	<script src="/assets/vendor/sequence-diagram-min.js"></script>

{% include google-analytics.html %}
</head>

<body>
<div id="dummy-script-container">
{% include init-facebook.html %}</div>

<div class="ui fixed inverted top menu">
	<a class="item" href="/"><i class="home icon"></i>{{ site.title }}</a>
	<a class="item" href="/pages/archives.html">Archives</a>
	<a class="item" href="/pages/tags.html">Tags</a>
	<div class="right menu">
		<a class="item" href="{{ site.feedurl }}"><i class="icon rss"></i></a>
	</div>
</div>

<div class="so window">
	{% if jekyll.environment == "debug" %}
	<div class="debug" id="">
		{% assign category = page.categories |last %}
		{% assign cat = site.data.categories |where:"id", category |first %}
		<div>assgined by where - cat:{{ cat }}, cat:{{ cat.name }}</div>
		<div>
			env:{{ jekyll.environment }},
			layout:{{ page.layout }},
			collection:{{ page.collection }},
		</div>
		<div>
			url:{{ page.url }},
			permalink:{{ page.permalink }},
			path:{{ page.path }},
			tags:{{ page.tags |join:", " }}
		</div>
	</div>
	{% endif %}
	<div class="so frame narrow" id="content-site">
		{{ content }}
	</div><!-- #content-site -->

{% include site-tail.html %}
</div><!-- #body-site -->

{% include init-twitter.html %}
{% include init-google.html %}

<script>
$('.hand-diagram').sequenceDiagram({ theme: 'hand' });
$('.diagram').sequenceDiagram({ theme: 'simple' });
</script>
<script id="dsq-count-scr" src="//sauru.disqus.com/count.js" async></script>

</body>
</html>
<!-- vim: set ts=2 sw=2 noexpandtab: -->
