---
---
/* hc-current.css, honcheonui-current style
 *
 * vim: set ts=2 sw=2:
 */

@import url(fonts/google/titilliumweb-v4.css);
$image-orion: url(images/orion.png);
$image-spin: url(images/spin-head.png);
$image-help: url(images/beatles-help.png);

// font/color/background
$font-family: "Titillium Web", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
$font-family: "Titillium Web", "맑은 고딕", "Malgun Gothic";
$font-code: "Source Code Pro", "Menlo", "Monaco", "Ubuntu Mono", "courier new", monospace;
$font-m: 10.5pt;
$font-xxs: 0.8em;
$font-xs: 0.9em;
$font-s: 0.95em;
$font-l: 1.2em;
$font-xl: 1.4em;
$font-xxl: 1.6em;
$font-xxxl: 1.8em;

$color-text: #777777;
$color-grey: #aaaaaa;
$color-light: #cccccc;
$color-pale: #eeeeee;
$color-white: #ffffff;
$color-dark: #444444;
$color-orange: #ee5500;
$color-strong: #222222;
$color-accent: #990000;
$color-link: #006599;
$color-link-hover: #ff7777;
$color-point: #f0f0f0;

$background-black: #111111;
$background-body: #f9f9f9;
$background-tail: #000000;
$background-header: #000000;
$background-footer: #f0f0f0;
$background-point: #454545;

$background-menubar: rgba(255,40,80,0.6);
$background-marker: linear-gradient(transparent 50%, #ff7 70%, transparent 90%);

$background-th:  -moz-linear-gradient(center bottom , #eeeeee 0%, #ffffff 100%) repeat scroll 0 0 padding-box transparent;
$background-td: #ffffff;

$color-error: #f00 !important;
$color-warn: #f60 !important;
$color-disabled: #bbb;
$background-error: #f00 !important;
$background-warn: #ff6600 !important;

$box-shadow: 0 2px 6px rgba(70,70,70,0.9);

// aliases
$color-header: $color-light;
$color-border: $color-light;

// mixins
@mixin nospace() { padding: 0; margin: 0; }

// #### ----------------------------------------------------------------------
// #### common tags	----------------------------------------------------------
html { height: 100%; background: $background-body; }
body {
	height: 100%; margin: 0; padding: 0;
	color: $color-text; background: $background-body;
	font-family: $font-family;
	font-size: $font-m;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0 0.5rem 0;
	font-family: $font-family;
	font-weight: 600;
}
h1 {
	font-size: $font-xxl;
}
h2 {
	font-size: $font-xl;
}
h3 {
	font-size: $font-l;
}
hr {
	border-top: 1px dashed $color-border;
	border-bottom: none;
	margin: 2em;
}
a, a:visited {
	text-decoration: none;
	color: inherit;
	&:hover { color: $color-link-hover; }
	&.hl { color: $color-link; }
	&.ext:after {
		content: "\F08E";
		font-family: FontAwesome;
		font-size: 0.7em;
		vertical-align: super;
		padding-left: 3px;
	}
	&.reference:after {
		content: "\F24A";
		font-family: FontAwesome;
		font-size: 0.7em;
		vertical-align: super;
		padding-left: 3px;
	}
}
ol {
	padding: 0 0 0 2.5rem;
}
ul {
	padding: 0 0 0 2.5rem;
	li {
		list-style: square;
		ul {
			li {
				list-style: disc;
				ul {
					li {
						list-style: disc;
					}
				}
			}
		}
	}
	&.dotless { li { list-style: none !important; } }
}

table {
	border-spacing: 0;
	display: table !important;
	margin: 1rem;
	&.fit { width: 95%; }
	&.filled { width: 100%; }
	&.centered { margin: 0 auto; max-width: 80%; min-width: 50%; }
	thead {
		tr {
			th { padding: 2px 2px; }
		}
	}
	tbody {
		tr {
			td { padding: 2px 2px; vertical-align: top; }
		}
	}
	&.styled {
		thead {
			tr {
				background: $background-th; border-top: 1px solid $color-border - #222;
			}
		}
		tbody {
			tr {
				background: $background-td; border-top: 1px solid $color-border;
				&:nth-child(even) { background: $background-td - #030303; }
				&:first-child { border-top: 1px solid $color-border - #222; }
				&:last-child { border-bottom: 1px solid $color-border - #222; }
			}
		}
	}
}
img {
	page-break-inside: avoid !important;
	&.inline {
		margin: 0 1rem;
		&.pull-right { margin-right: 0; }
		&.pull-left { margin-left: 0; }
	}
}
strong {
	color: black;
	font-weight: normal;
	background: $background-marker;
}
abbr[title] {
	text-decoration: underline dotted;
	border-bottom: none;
}

// important!!! (for fullsize window)
* {
	box-sizing: border-box;
}

// ## ------------------------------------------------------------------------
// ## addon decorations (common)	--------------------------------------------
.tal { text-align: left !important; }
.tac { text-align: center !important; }
.tar { text-align: right !important; }
.taj { text-align: justify !important; }
.pull-right {
	float: right !important;
	&.margin { margin-left: 1rem; }
}
.pull-left {
	float: left !important;
	&.margin { margin-right: 1rem; }
}
.fit { max-width: 94%; display: block; }
.fit { margin-left: auto !important; margin-right: auto !important; }
.half { max-width: 50%; margin-left: auto; margin-right: auto; display: block; }
.nw { white-space: nowrap !important; }
.nomargin { margin: 0 !important; }
.invisible { display: none; }
.clickable { cursor: pointer; }
.indented { margin-left: 2rem; }

// ## styles	----------------------------------------------------------------
.new.page { page-break-before: always !important; }
.underline { border-bottom: 1px solid $color-text; }
.grayline { border-bottom: 1px solid $color-light; }
.dropshadow { margin-top: 1rem; margin-bottom: 1rem; }
.dropshadow { box-shadow: 3px 3px 5px #666; }
.warn { color: $color-warn; }
.error { color: $color-error; }
.disabled { color: $color-disabled; }
.grey { color: $color-grey; }
.point {
	background-image: url('/assets/images/pattern-10-777.png');
	background-repeat: repeat-y;
	background-color: $background-body - #080808;
	padding: 4px 4px 4px 20px;
	border-radius: 4px;
	dt {
		font-size: $font-l;
		font-weight: bold;
		color: $color-orange;
		&:before {
			content: "\F0E7";
			font-family: FontAwesome;
			padding-right: 0.5rem;
		}
	}
	dd {
		font-style: italic;
	}
}

// #### ----------------------------------------------------------------------
// #### layout/site full screen structure ------------------------------------
$header-height: 40px;
$footer-height: 50px;
$window-margin: 0px;
$ui-margin-default: 4px;
.fullscreen {
	height: 100%;
	.hc-sticky-header {
		position: fixed; top: 0px; width: 100%; height: $header-height;
		z-index: 99;
	}
	.hc-fixed-window {
		padding: $window-margin;
		padding-top: $header-height + $window-margin;
		padding-bottom: $footer-height + $window-margin;
		.hc-module-main {
			padding: $ui-margin-default;
		}
	}
	.hc-sticky-footer {
		position: fixed; bottom: 0px; width: 100%; height: $footer-height;
		z-index: 80;
	}
}
.expandy {
	height: 100%;
	overflow: hidden;
	position: relative;
	// same rule for all child-div except scrollbox.
	.scrollbox {
		height: 100%;
		overflow: auto;
	}
}
// ## decoration for layout/site elements ------------------------------------
$page-logo-size: 120px;
.hc-sticky-header {
	color: $color-header;
	background: $background-header $image-spin;
	box-shadow: $box-shadow;
	padding: $ui-margin-default;
	// override semantic-ui
	.ui.menu {
		&.inverted {
			background: rgba(0,0,0, 0.4);
		}
		.item {
			padding: 0.6rem 0.6rem;
		}
		.right.menu {
			.item {
				padding: 0.6rem 0.6rem;
			}
		}
	}
	.title {
		padding: 0 $ui-margin-default;
		h1 {
			display: inline;
			margin: 0;
			font-size: 2em;
		}
		span {
		}
	}
	.top-menu {
		padding: 0px $ui-margin-default;
		background: $background-menubar;
		position: absolute; bottom: 0px; width: 100%; // sticky
		ul {
			margin: 0;
			padding: 0;
			font-size: $font-s;
			line-height: $font-m + 2pt;
			li {
				display: inline;
				padding: 0 10px;
				a {
					color: inherit;
				}
			}
		}
	}
}
.hc-fixed-window {
	background: $image-orion;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: $page-logo-size auto;
}
.hc-sticky-footer {
	background: $background-footer $image-orion;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: $page-logo-size auto;

	box-shadow: $box-shadow;
	border-top: 1px solid $color-border - #222;

	font-weight: 300;
	font-size: $font-s;
	font-style: italic;
	line-height: 1.1;

	// status line
	ul.status {
		float: left;
		margin: $ui-margin-default;
		padding: 0;
		li {
			list-style: none;
		}
	}
	.powered-by {
		margin: 2px $page-logo-size + $ui-margin-default 0 $ui-margin-default;
		text-align: right;
		color: $color-light;
		font-size: $font-xs;
	}
}
// ## additional decoration for layout/site ----------------------------------
.inset {
	padding: 2px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5) inset;
}
.darken {
  background: rgba(128,128,128, 0.1);
}

// #### ----------------------------------------------------------------------
// #### web page structure	--------------------------------------------------
.hc-page {
	padding-bottom: 0 !important;	// remove bottom padding for sticky-footer

	.hc-page-narrow {
		margin: 1em auto;
		max-width: 60rem;
		padding: 0 !important;
		overflow: auto !important; // fully cover inner divs

		.page-body {
			float: left;
			width: 40rem;
			padding-bottom: 4rem;
		}
		.page-sidebar {
			float: right;
			max-width: 20rem;
			padding-left: 1rem;
			.side-widget {
				margin-bottom: 1.5rem;
				ul {
					margin: 0; padding: 0;
					li {
						line-height: 1.5rem;
						list-style-type: none;
						white-space: nowrap;
						overflow: hidden;
						&.proj-item {
							.proj-title { float: right; }
							.proj-description { padding: 0 1rem 0 0; }
							.proj-site, .proj-repository { display: none; }
						}
					}
				}
			}
		}
	}
	.hc-page-tail {
		overflow: auto !important;
		clear: both;
		margin-top: 10em;
		padding: 5px 20px 20px;

		.tail-item {
			margin-right: 3em;
			float: left;
			&:last-child { margin-right: 0; }
			ul { @include nospace(); }
		}
	}
}
// ## decoration for web page ------------------------------------------------
.hc-page {
	a, a:visited { color: $color-link; }
	.hc-page-narrow {
		.page-sidebar {
			color: $color-grey;
			.side-widget {
				&#personal {
					padding: 10px;
					border-radius: 10px;
					background: $background-body - #151515;
					color: $color-dark;
				}
			}
		}
		.page-body {
		}
	}
	.hc-page-tail {
		background: rgba(0,0,0, 0.9);
		font-size: $font-s;
	}
}

// ## widget: horizontal barchart --------------------------------------------
div.barchart {
	.item {
		margin: 2px 0;
		.frame {
			display: inline-block;
			background: #ddd;
			border-radius: 3px;
			padding: 2px;
			width: 180px;
			vertical-align: middle;
			.bar {
				float: right;
				background: $color-link;
				border-radius: 2px;
				width: 100px;
				height: 6px;
			}
		}
		.label {
			display: inline-block;
			.details {
				color: $color-grey;
			}
		}
	}
}

// ## post list on "related post", 
ul.posts {
	@include nospace();
	li {
		list-style-type: none;
		line-height: 1.6rem;
		span.meta {
			margin: 0 0.5rem;
			color: $color-light;
			font-style: italic;
			a { color: $color-light; }
		}
	}
}

// ## post structure	--------------------------------------------------------
.page-body {
	//.post {
		.post-title {
		}
		.post-details {
			margin-bottom: 1rem;
			color: $color-text + #222;
			font-size: $font-s;
			.post-category {
				background: $background-body - #090909;
				padding: 0 5px;
				border-radius: 20px;
			}
		}
		.post-share {
			div { display: inline-block; }
		}
		.post-content {
			// boxxing!
			padding: 0.5rem;
			border-radius: 10px;
			background: $background-body + #040404;

			ul#markdown-toc {
				margin: 0.5rem;
				padding: 0.5rem 1rem;
				background: #f9f9f9;
				li {
					list-style: none;
				}
				ul {
					padding-left: 1.5rem;
					ul {
						padding-bottom: 0;
					}
				}
			}
		}

		.page-content,
		.post-content {
			text-align: justify;
			margin: 0.5rem 0 2rem;

			h1 {
				margin-top: 3em;
				page-break-before: auto;
				&:first-of-type {
					page-break-before: unset;
				}
			}
			#blog-posts h1 { margin-top: 1rem; }
			h2, h3, h4, h5 { margin-top: 1.5rem; }
			h2 { border-bottom: 1px solid $background-body - #202020; }
			p {
				margin: 1rem 0;
				line-height: 1.8;
				&:first-child { margin-top: 0 }
				&:last-child { margin-bottom: 0 }

				&.block-title {	// for codeblock title
					margin-bottom: -1rem; margin-left: 1rem;
					font-weight: bold;
					code {
						background: none;
						border: none;
					}
				}
			}
			blockquote {
				background: url('images/blockquote.png') no-repeat scroll 3px 3px;
				background-color: $background-body - #050505;
				padding: 8px 12px 8px 36px;
				margin: 1rem 0;
				border-left: 4px solid $background-body - #222;
				&.point {
					background-color: $background-point;
					border-left: 4px solid #dd5757;
				}
			}
			.footnote {
				background: $background-body + $color-link - #090909;
				padding: 0px 2px 0px 0px;
			}
			.footnotes {
				padding-bottom: 2rem;
				border-top: 1px solid $background-body - #050505;
				font-size: $font-xs;
				ol, ul {
					margin: 0;
					padding: 0 0 0 1rem;
				}
			}
		}
		.post-meta {
			div {
				clear: both;
			}
			.post-tags {
				text-align: right;
				margin-bottom: 1rem;
			}
			.post-hierarchy {
				display: inline-block;
				width: 100%;
				font-style: italic;
				p {
					margin: 0.2rem 0;
					a {
						color: $color-link + #444444;
					}
				}
			}
		}
		.item-bottom {
			border-top:1px solid #999; margin:2em 0; padding:1rem 0 2rem;
		}
	//}
	.post-tail {
		margin: 1em 0;
		padding: 0.5em;
		border: 3px solid $background-body - #111;
		h2 {
			margin-bottom: 1rem;
		}
	}
}

// ## decorations for post content
.post-content {
	a {
		&[href^="http"]:after {
			content: "\F08E";
			font-family: FontAwesome;
			font-size: 0.7em;
			vertical-align: super;
			padding-left: 3px;
		}
		&[href^="/"]:after {
			content: "\F24A";
			font-family: FontAwesome;
			font-size: 0.7em;
			vertical-align: super;
			padding-left: 3px;
		}
	}
	.post-signature {
		padding-top: 2em;
		font-style: italic;
	}
}

// ## tag item, common -------------------------------------------------------
.tag-item {
	font-size: $font-xxs;
	border-radius: 5px;
	background: $background-body - #090909;
	padding: 0px 4px 0 4px;
	color: $color-link + #444 !important;
}

// ## for index.html, preview-item
.preview-item {
	margin: 1rem 0 2rem;
	clear: both;
	.preview-meta {
		float: right; text-align: right;
		max-width: 30%; padding: 0 0 1rem 1rem;
		font-style: italic; color: $color-light;
	}
	.preview-content { margin: 0 0 0 0.5rem; text-align: justify;
	}
}
// ## for projects.html
.proj-item {
	.proj-title { }
	.proj-description { }
	.proj-site { }
	.proj-repository { }
	.proj-description, .proj-site, .proj-repository { padding-left: 3em; }
}
// ## for archives.html
div#blog-archives {
	ul.posts { padding-left: 3rem; }
}
// ## addthis toolbox
.post-share {
	div, iframe { vertical-align: middle !important; }
	.addthis_toolbox {
		font-size: $font-l;
		a {
			margin: 0 2px;
			sup.share_count {
				background: #fff;
				border: 1px solid #ccc;
				border-radius: 6px 6px 6px 0;
				font-size: 0.6em;
				padding: 0 3px;
				vertical-align: super;
			}
		}
	}
}

// ## code/log block	--------------------------------------------------------
li code,
p code,
pre {
	font-family: $font-code;
	font-size: $font-xs;
}
li code,
p code {
	background: rgba(230,230,230,0.2);
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	padding: 2px 3px 0;
}
// with rouge highlighter
.highlight {
	background: $background-black;
}
.wrap .highlight {
	white-space: pre-wrap;
	word-break: break-all;
}

figure.highlight,
div.highlighter-rouge,
div.highlight {
	margin: 1rem; box-shadow: 3px 3px 5px #666;
	&.short { pre { max-height: 26em; overflow: auto; } }
	&.dark { code { background: $background-black; } }
	pre {
		margin: 0;
		padding: 0.3rem 0.6rem;
		code {
			span.lineno { }
			span.gp { color: $color-grey; }

			&.language-console {
				white-space: pre-wrap; // for command it self.
				span {
					&.go {
						white-space: pre;
						color: #999;
					}
				}
			}
		}
	}
}

// ## work-around	------------------------------------------------------------
iframe.twitter-mention-button {
	vertical-align: middle;
}

// #### ----------------------------------------------------------------------
// #### for small device	----------------------------------------------------
@media (max-width: 33em) {
	.hc-page-narrow {
		margin: 1em 0.5em !important;
		.page-body {
			float: none;
			min-width: inherit;
			max-width: 100%;
			margin-right: 0;
		}
		.page-sidebar {
			float: left !important;
			max-width: 100% !important;
			padding: 0 !important;
		}
	}
}

// #### ----------------------------------------------------------------------
// #### for paper print	------------------------------------------------------
@media print {
	.noprint { display: none !important; }
	html, body, .full-screen { height: auto !important; background: white; }
	ol, ul { padding: 0 0 0 1.4em; }

	.hc-sticky-header, .hc-sticky-footer { display: none !important; }
	.hc-fixed-window { background: none !important; }

	.hc-page-narrow {
		.page-body {
			min-width: 100%;
			margin: 0;
			.post {
				width: 100%;
				.post-content {
					background: none !important;
				}
				.post-share {
					display: none !important;
				}
			}
			.post-tail {
				display: none !important;
			}
		}
		.page-sidebar {
			display: none !important;
		}
	}
	.hc-page-tail {
		display: none !important;
	}
	a {
		&:after {
			content: "" !important;
		}
	}
}
//	a[href^="http"]:after {
//		content: "(" attr(href) ") " !important;
//	}

//****************************************************************************
//** for web application -----------------------------------------------------
//****************************************************************************


// ### widget ----------------------------------------------------------------
.widget {
	padding: 4px;

	&.list-table {
		.table-head-ribbon {
			margin: 4px 0;
			float: right;
			div {
				display: inline;
				margin-left: 5px;
			}
		}
		.table-box {
			margin: 4px 0;
			clear: both;
		}
	}

	&.vertical-desc {
		table {
			width: 100%;
			tr {
				border-bottom: 1px dotted #bbb;
				&:first-child {
					border-top: 1px dotted #bbb;
				}
				&.seperator {
					font-size: 0px;
					background: #fff;
					height: 5px;
				}
				td {
					padding: 0 5px;
					&:first-child {
						text-align: right;
						font-weight: normal;
					}
					input {
						vertical-align: middle;
					}
				}
			}
		}
	}

	&.help {
		.title {
			float: right;
		}
		.help.content {
			clear: both;
			background: rgba(255,255,255,0.5) $image-help;
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 300px auto;
			padding: 16px !important;
			padding-left: 320px !important;
			border: 1px solid $color-light;
			border-radius: 10px;
			h4 {
				border-bottom: 1px solid $color-light;
				margin-bottom: 0.5rem;
			}
			p {
			}
			dl {
				dt {
					margin-top: 0.5rem;
					font-style: italic;
				}
				dd {
				}
			}
		}
	}
}

.debug {
	background: #ff9900;
}
