---
---
/* hc-current.css, honcheonui-current style
 *
 * vim: set ts=2 sw=2:
 */

@import url(fonts/google/titilliumweb-v4.css);
$image-orion: url(images/orion.png);
$image-spin: url(images/spin-head.png);
$image-help: url(images/beatles-help.png);

// font/color/background
$font-family: "Titillium Web", Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
$font-family: "Titillium Web", "맑은 고딕", "Malgun Gothic";
$font-code: "courier new";
$font-m: 10pt;
$font-xxs: 0.8em;
$font-xs: 0.9em;
$font-s: 0.95em;
$font-l: 1.2em;
$font-xl: 1.4em;
$font-xxl: 1.6em;
$font-xxxl: 1.8em;

$color-text: #777777;
$color-grey: #aaaaaa;
$color-light: #cccccc;
$color-pale: #eeeeee;
$color-white: #ffffff;
$color-dark: #444444;
$color-strong: #222222;
$color-accent: #990000;
$color-link: #006599;
$color-link-hover: #ff7777;

$background-black: #222222;
$background-body: #f9f9f9;
$background-tail: #000000;
$background-header: #000000;
$background-footer: #f0f0f0;
$background-menubar: rgba(255,40,80,0.6);

$background-th:  -moz-linear-gradient(center bottom , #eeeeee 0%, #ffffff 100%) repeat scroll 0 0 padding-box transparent;
$background-td: #ffffff;

$color-error: #f00 !important;
$color-warn: #f60 !important;
$color-disabled: #bbb;
$background-error: #f00 !important;
$background-warn: #ff6600 !important;

$box-shadow: 0 2px 6px rgba(70,70,70,0.9);

// aliases
$color-header: $color-light;
$color-border: $color-light;

/* what? */
/*
$inp-trans: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
*/


/*** common tags	--------------------------------------------------------- */
html {
	height: 100%;
	background: $background-body;
}

body {
	margin: 0;
	padding: 0;
	font-family: $font-family;
	font-size: $font-m;
	height: 100%;
	color: $color-text;
	background: $background-body;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family;
	font-weight: 600;
	margin: 1rem 0 0.5rem 0;
}
h1 {
	font-size: $font-xxl;
}
h2 {
	font-size: $font-xl;
}
h3 {
	font-size: $font-l;
}

a, a:visited {
	text-decoration: none;
	color: inherit;
	&:hover { color: $color-link-hover; }
	&.hl {
		color: $color-link;
	}
}

ul {
	padding: 0 0 0 2.5rem;
	li {
		//list-style: none;
	}
}

table {
	border-spacing: 0;
	&.filled {
		width: 100%;
	}
	&.centered {
		margin-left: auto;
		margin-right: auto;
		max-width: 80%;
		min-width: 50%;
	}
	thead {
		tr {
			th {
				padding: 0 2px;
			}
		}
	}
	tbody {
		tr {
			td {
				padding: 0 2px;
				vertical-align: top;
			}
		}
	}
}

table.styled {
	thead {
		tr {
			background: $background-th;
			border-top: 1px solid $color-border - #222;
		}
	}
	tbody {
		tr {
			background: $background-td;
			border-top: 1px solid $color-border;

			&:nth-child(even) {
				background: $background-td - #030303;
			}
			&:first-child {
				border-top: 1px solid $color-border - #222;
			}
			&:last-child {
				border-bottom: 1px solid $color-border - #222;
			}
		}
	}
}

img {
	&.inline {
		margin: 0 1rem;
	}
}

// important!!! (for fullsize window)
* {
	box-sizing: border-box;
}

//****************************************************************************
//** addon decorations -------------------------------------------------------

.tal { text-align: left !important; }
.tac { text-align: center !important; }
.tar { text-align: right !important; }
.taj { text-align: justify !important; }
.pull-right { float: right; }
.pull-left { float: left; }
.fit { max-width: 94%; margin-left: auto; margin-right: auto; display: block; }
.half { max-width: 50%; margin-left: auto; margin-right: auto; display: block; }
.nomargin { margin: 0 !important; }
.invisible { display: none; }
.clickable { cursor: pointer; }

//** styles ------------------------------------------------------------------
.warn { color: $color-warn; }
.error { color: $color-error; }
.disabled { color: $color-disabled; }
.grey { color: $color-grey; }
.underline { border-bottom: 1px solid $color-text; }
.dropshadow { box-shadow: 3px 3px 5px #666; }

// box model -----------------------------------------------------------------
.indented { margin-left: 2rem; }






/** --------------------------------------------------------------------------
 * display structure
 */
$header-height: 40px;
$footer-height: 50px;
$window-margin: 0px;
$ui-margin-default: 4px;

.fullscreen {
	height: 100%;

	.hc-sticky-header {
		position: fixed; top: 0px; width: 100%; height: $header-height;
		z-index: 99;
	}

	.hc-fixed-window {
		padding: $window-margin;
		padding-top: $header-height + $window-margin;
		padding-bottom: $footer-height + $window-margin;

		.module-main {
			padding: $ui-margin-default;
		}
	}

	.hc-sticky-footer {
		position: fixed; bottom: 0px; width: 100%; height: $footer-height;
		z-index: 80;
	}
}

.expandy {
	height: 100%;
	overflow: hidden;
	position: relative;

	// same rule for all child-div except scrollbox.
	.scrollbox {
		height: 100%;
		overflow: auto;
	}
}

// decoration	----------------------------------------------------------------
$page-logo-size: 120px;
.hc-sticky-header {
	color: $color-header;
	background: $background-header $image-spin;
	box-shadow: $box-shadow;
	padding: $ui-margin-default;

	// override semantic-ui
	.ui.menu {
		&.inverted {
			background: rgba(0,0,0, 0.6);
		}
		.item {
			padding: 0.5rem 1rem;
		}
		.right.menu {
			.item {
				padding: 0.5rem 1rem;
			}
		}
	}

	.title {
		padding: 0 $ui-margin-default;
		h1 {
			display: inline;
			margin: 0;
			font-size: 2em;
		}
		span {
		}
	}

	.top-menu {
		padding: 0px $ui-margin-default;
		background: $background-menubar;
		position: absolute; bottom: 0px; width: 100%; // sticky
		ul {
			margin: 0;
			padding: 0;
			font-size: $font-s;
			line-height: $font-m + 2pt;
			li {
				display: inline;
				padding: 0 10px;
				a {
					color: inherit;
				}
			}
		}
	}
}

.hc-fixed-window {
	background: $image-orion;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: $page-logo-size auto;
}

.hc-sticky-footer {
	background: $background-footer $image-orion;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: $page-logo-size auto;

	box-shadow: $box-shadow;
	border-top: 1px solid $color-border - #222;


	font-weight: 300;
	font-size: $font-s;
	font-style: italic;
	line-height: 1.1;

	// status line
	ul.status {
		float: left;
		margin: $ui-margin-default;
		padding: 0;
		li {
			list-style: none;
		}
	}
	.powered-by {
		margin: 2px $page-logo-size + $ui-margin-default 0 $ui-margin-default;
		text-align: right;
		color: $color-light;
		font-size: $font-xs;
	}
}

.inset {
	padding: 2px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5) inset;
}
.darken {
  background: rgba(128,128,128, 0.1);
}



//****************************************************************************
//** for web site ------------------------------------------------------------
//****************************************************************************


//** screen page structure ---------------------------------------------------
.hc-page {
	padding-bottom: 0 !important;

	.narrow-page {
		overflow: auto !important;
		max-width: 62rem;
		margin: 1em auto;

		.page-content {
			float: left;
			max-width: 40rem;
			min-width: 35rem;
			margin-right: 2rem;
		}
		.page-sidebar {
			float: right;
			max-width: 19rem;
			color: $color-grey;

			.side-widget {
				margin-bottom: 1.5rem;
				&#swidget-person {
					padding: 10px;
					border-radius: 6px;
					background: $background-body - #151515;
					color: $color-dark;
				}
			}
		}
	}
	.page-tail {
		overflow: auto !important;
		clear: both;
		margin-top: 10em;
		padding: 5px 20px 20px;

		background: rgba(0,0,0, 0.9);
		font-size: $font-s;

		.contact {
			float: left;
			margin-right: 3em;
		  padding: 2px; 
		  width: 16em;
			&#personal-info {
				width: 20em;
			}

			ul { margin: 0 0 1em; list-style: none; padding: 0; }
		}
		.rss {
			float: right;
			text-align: right;
		}
	}

	a, a:visited {
		color: $color-link;
	}
}

//** post structure ----------------------------------------------------------
.page-content {
	.post {
		.post-title {
		}
		.post-details {
			margin-bottom: 1rem;
			color: $color-text + #222;
			font-size: $font-s;
			.post-category {
				background: $background-body - #090909;
				padding: 0 5px;
				border-radius: 20px;
			}
		}
		.post-share {
		}
		.post-content {
			text-align: justify;
			margin: 1rem 0 2rem;
			padding: 0.5rem;
			border-radius: 10px;
			background: $background-body + #040404;

			p {
				margin: 1rem 0;
				line-height: 1.8;
				&:first-child { margin-top: 0 }
				&:last-child { margin-bottom: 0 }
			}
			blockquote {
				background: url('images/blockquote.png') no-repeat scroll 3px 3px;
				background-color: $background-body - #050505;
				border-left: 4px solid $background-body - #222;
				margin: 1rem 0;
				padding: 8px 12px 8px 36px;
				p { padding: 0; margin: 0; }
			}
			.footnotes {
				border-top: 1px solid $background-body - #050505;
				font-size: $font-xs;
				ol, ul {
					margin: 0;
					padding: 0 0 0 1rem;
				}
			}
		}
		.post-meta {
			.post-hierarchy {
			}
			.post-tags {
				text-align: right;
			}
			.post-comments {
				text-align: right;
			}
		}
		.item-bottom {
			border-top:1px solid #999; margin:2em 0; padding:1rem 0 2rem;
		}
	}
	.post-tail {
		margin: 1em 0;
		padding: 0.5em;
		border: 3px solid $background-body - #111;
		h2 {
			margin-bottom: 1rem;
		}
		ul.posts {
			li {
				line-height: 1.4;
			}
		}
	}
}
.page-sidebar {
	ul.posts {
		li {
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

// recent on sidebar and related on post tail
ul.posts {
	list-style-type: none; margin: 0; padding: 0;
	li {
		line-height: 1.5rem;
		span.meta {
			margin: 0 0.5rem;
			color: $color-light;
			font-style: italic;
			a {
				color: $color-light;
			}
		}
	}
}

.item_preview {
	margin: 1rem 0 2rem;
	clear: both;

	div.preview_meta {
		font-style: italic;
		text-align:right; float:right; width:19em;
	}
	div.preview_content {
		font-style: italic;
		margin: 0 0 0 1em; width: 40em;
	}
}

.tag-item {
	font-size: $font-xxs;
	border-radius: 5px;
	background: $background-body - #090909;
	padding: 0px 4px 0 4px;
	color: $color-link + #444 !important;
}

// misc
.addthis_toolbox {
	display: inline-block;
	vertical-align: middle;
}

// # site specific
div#blog-archives {
	ul.posts {
		list-style-type: square; padding-left: 3rem;
	}
}

//** site index --------------------------------------------------------------
.module-main {
	.menu-categories {
		display: table;
		width: 100%;
		.cloud {
			display: table-row-group;
			ul {
				display: table-row;
				li {
					display: table-cell;
					text-align: center;
					padding: 2px 0;
					background: $background-header + #202020;
					&:nth-child(even) {
						background: $background-header + #303030;
					}
					a {
						color: $color-white;
					}
					span.post-count {
						display: none;
					}
				}
			}
		}
	}
	#blog-posts {
	}
	#static-pages {
	}
}


//** code/log block	----------------------------------------------------------
//* terminal
pre {
	code {
		font-family: $font-code;
		font-size: $font-xs;
		display: block;
		margin: 1rem;
		padding: 0.2rem 0.5rem;
		box-shadow: 3px 3px 5px #666;
		overflow: auto;
		&.language-terminal {
			background: $background-black;
			color: $color-light;
		}
	}
	&.short {
		code {
			max-height: 26em;
		}
	}
}


//** for small device
@media (max-width: 33em) {
	.hc-page {
		.narrow-page {
			.page-content {
				float: none;
				min-width: inherit;
				margin-right: 0;
			}
			.page-sidebar {
				float: none;
				max-width: 100%;
			}
		}
	}
}

//** for print page
@media print {
	.noprint {
		display: none !important;
	}

	html, body, .full-screen {
		height: auto !important;
		background: white;
	}

	.hc-sticky-header {
		display: none !important;
	}
	.hc-fixed-window {
		background: none !important;
	}

	.hc-page {
		.narrow-page {
			.page-content {
				max-width: 100%;
				margin: 0;
				.post {
					.post-content {
						background: none !important;
					}
					.post-share {
						display: none !important;
					}
				}
				.post-tail {
					display: none !important;
				}
			}
			.page-sidebar {
				display: none !important;
			}
		}
		.page-tail {
			display: none !important;
		}
	}
}



//****************************************************************************
//** for web application -----------------------------------------------------
//****************************************************************************


// ### widget ----------------------------------------------------------------

.widget {
	padding: 4px;

	&.list-table {
		.table-head-ribbon {
			margin: 4px 0;
			float: right;
			div {
				display: inline;
				margin-left: 5px;
			}
		}
		.table-box {
			margin: 4px 0;
			clear: both;
		}
	}

	&.vertical-desc {
		table {
			width: 100%;
			tr {
				border-bottom: 1px dotted #bbb;
				&:first-child {
					border-top: 1px dotted #bbb;
				}
				&.seperator {
					font-size: 0px;
					background: #fff;
					height: 5px;
				}
				td {
					padding: 0 5px;
					&:first-child {
						text-align: right;
						font-weight: normal;
					}
					input {
						vertical-align: middle;
					}
				}
			}
		}
	}

	&.help {
		.title {
			float: right;
		}
		.help.content {
			clear: both;
			background: rgba(255,255,255,0.5) $image-help;
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 300px auto;
			padding: 16px !important;
			padding-left: 320px !important;
			border: 1px solid $color-light;
			border-radius: 10px;
			h4 {
				border-bottom: 1px solid $color-light;
				margin-bottom: 0.5rem;
			}
			p {
			}
			dl {
				dt {
					margin-top: 0.5rem;
					font-style: italic;
				}
				dd {
				}
			}
		}
	}
}

