// header candidates: NanumBarunGothic, NotoSansCJKkr
$font-head: 'Open Sans','NanumSquare','Helvetica Neue',sans-serif;
$font-norm: 'Open Sans','Noto Sans KR','Helvetica Neue',sans-serif;
$font-meta: 'Open Sans','Noto Sans KR','Helvetica Neue',sans-serif;
$font-type: Monaco, "Ubuntu Mono", "Courier New", monospace !important;
$font-head-weight: 800; // 800 for NanumBarunGothic/NanumSquare, 700 for Noto
$font-thin-weight: 200;

$color-text: #404040;
$color-dark: #202020;
$color-grey: #aaaaaa;
$color-link: #0075aa;
$color-light: #cccccc;
$color-orange: #ee5500;
$color-cool: skyblue;
$color-accent: #ee5500;
$color-header: #ffffff;
$color-footer: #505050;
$color-comment: #a09090;

$background-body: #f9f9f9;
$background-box: #fbfbfb;
$background-black: #111111;
$background-header: #000000;
$background-footer: #f5f5f5;
$background-marker: linear-gradient(transparent 30%, #ddf3ff 60%, #c0f9ff 80%);
$background-point: #454545;

$background-styled: linear-gradient(#eeeeee 0%, #ffffff 40%, #ffffff 60%, #eeeeee 100%);
$background-th: #eeeeee;
$background-td: #ffffff;
$color-border: $color-light;

//@import url(syntax-extra.css);

// --- general ---------------------------------------------------------------
body {
	color: $color-text;
	background: $background-body;
	font-family: $font-norm;
	font-size: 16px;
}

strong {
	color: $color-dark;
	font-weight: normal;
	background: $background-marker;
}
em {
	color: $color-dark;
	font-weight: normal;
}

blockquote {
	font-size: 1em;
  font-style: normal;
	margin: 1em 0;
	padding: 2px 25px;
	border-left: 10px solid $color-light;
  //padding-left: 40px; // instead of 20px

  &.comment {
		border-left-color: transparent;
    &:before {
      font-family: "font awesome 5 free";
      content: "\f075";
      display: inline-block;
      width: 1.5em;
      margin-left: -35px;
      float: left;
      //color: $color-cool;
    }
  }
  &.point {
		border-left-color: transparent;
		color: $color-text;
    &:before {
      font-family: "font awesome 5 free";
      content: "\f0a6"; // fa-hand-point-up
      display: inline-block;
      width: 1.5em;
      margin-left: -35px;
      float: left;
      color: $color-accent;
    }
  }
	&.boxed {
		padding: 10px 20px;
		border: 1px solid #ccc;
		border-radius: 8px;
		background: none;
	  box-shadow: 2px 2px 4px #888888;
	}
	& *:first-child {
		margin-top: 0 !important;
	}
	& *:last-child {
		margin-bottom: 0 !important;
	}
}

/*
div.highlight { // who's bug? double classed for div and pre.
	background: transparent;
}
*/
.highlight pre,
pre {
	font-family: $font-type;
	font-size: 0.8em;
	line-height: 1.2;
	box-shadow: 2px 2px 4px #888888;
	& code {
		//font-family: $font-type;
		white-space: pre-wrap;
		//word-break: break-all;
		.nowrap & {
		  white-space: pre;
		}
	}
}

code {
  background-color: #f9f2f4;
  color: #c7254e;
}

a {
	color: $color-link;
}

table {
	font-size: 0.9em;
	margin: 1rem auto;
	display: table !important;

	thead tr, tbody tr {
		th, td {
			padding: 1px 1em;
			border-width: 1px 0;
		}
	}

	thead {
		tr {
			background: $background-th;
			border-top: 1px solid darken($color-border, 15%);
		}
	}
	tbody {
		tr {
			background: $background-td; border-top: 1px solid $color-border;
			&:nth-child(even) { background: darken($background-td, 3%); }
			&:first-child { border-top: 1px solid darken($color-border, 15%); }
			&:last-child { border-bottom: 1px solid darken($color-border, 15%); }
		}
  }

	&.fit { width: 95%; margin: 1rem auto; }
	&.filled { width: 100%; }
	&.centered { margin: 1rem auto; max-width: 80%; min-width: 50%; }
	&.styled {
    thead {
		  tr {
			  background: $background-styled;
			  border-top: 1px solid darken($color-border, 15%);
		  }
    }
    tbody {
		  tr {
			  background: $background-td; border-top: 1px solid $color-border;
			  &:nth-child(even) { background: darken($background-td, 3%); }
			  &:first-child { border-top: 1px solid darken($color-border, 15%); }
			  &:last-child { border-bottom: 1px solid darken($color-border, 15%); }
		  }
    }
	}
	&.borderless {
		thead tr, tbody tr {
      background: transparent;
    }
		thead tr th, tbody tr td {
			border-color: transparent;
		}
	}
}

/*
.container[role=main] {
	margin-bottom: 50px;
	flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-head;
	font-weight: $font-head-weight;
	word-break: keep-all;
}

ul {
	li {
		list-style: square;
	}
	&.nodot > li {
		list-style: none;
	}
	&.angle > li {
		list-style: none;
		&:before {
			content: "\f105"; // angle-right
			font-family: FontAwesome;
			display: inline-block;
			margin-left: -1em;
			width: 1em;
		}
	}
}


*/

// --- my widgets ------------------------------------------------------------
/*
div.barchart {
	.chart-item {
		margin-bottom: 2px;
		clear: both;
		.chart-item-bar {
			display: inline-block;
			vertical-align: middle;
			border: 1px solid lighten($color-grey, 20%);
			border-radius: 3px;
			padding: 2px;
			.bar {
				float: right;
				width: 100px;
				height: 0.6em;
				background: #0075aa;
				border-radius: 2px;
			}
		}
		.chart-item-label {
			color: $color-grey;
			line-height: 1.2;
			padding: 0 0 0 6px;
		}
	}
}

#markdown-toc {
	margin: 0.5rem 2rem;
	padding: 0.5rem 1rem;
	background: #f9f9f9;
	border-radius: 0.5rem;
	li {
		list-style: none;
	}
	ul {
		padding-left: 1.5em;
	}
	&.pull-right {
		margin-right: 0;
		min-width: 40%;
	}
}
@media only screen and (max-width: 767px) {
	#markdown-toc {
		&.pull-right {
			float: none !important;
			margin-right: 2rem;
			max-width: 100% !important;
		}
	}
}
*/

// --- common modifier -------------------------------------------------------
.onethird { max-width: 33% !important; display: block; }
.twothird { max-width: 66% !important; display: block; }
.half		 { max-width: 50% !important; display: block; }

.bordered {
	border: 1px solid $color-dark;
}
.centered {
  text-align: center !important;
}

.mix-clear { clear: both; }
.mix-margin {
	margin: 0.5rem 2rem !important;
	&.pull-right {
		margin-right: 0 !important;
	}
	&.pull-left {
		margin-left: 0 !important;
	}
}
.mix-boxed {
  border: 1px solid $color-light;
  padding: 2px 8px;
  &.mix-round {
    border-radius: 8px;
  }
}
.mix-large { font-size: 1.2em; }
.mix-xlarge { font-size: 1.4em; }
.mix-xxlarge { font-size: 1.6em; }
.mix-xxxlarge { font-size: 1.8em; }

.block-title {
	font-size: 0.9em;
	background: darken($background-body, 3%);
	padding-left: 3em;
	&:before {
		content: "\f14a"; // square-check
		font-family: FontAwesome;
		display: inline-block;
		margin-left: -2.5em;
		width: 1.5em;
	}
}

.inline-badges {
	a {
		display: inline-block;
	}
}

/*
.fit svg,
.fit {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
.filled { width: 100%; }
.inline { display: inline-block; }
*/

// ---------------------------------------------------------------------------
// --- override bootstrap/theme default --------------------------------------
//
// --- navbar
.navbar-custom {
	background: $background-header;
	border-bottom: 1px solid $background-header;

	font-family: $font-head;

  .navbar-brand,
  .nav li a {
    color: $color-header;
	  font-weight: $font-head-weight;
    &:focus, &:hover {
      color: #0085a1;
    }
  }

  .avatar-container .avatar-img {
	  border: 3px solid $background-header;
  }

  .nav {
    .navlinks-container {
      &:hover {
        background: $background-header;
      }
      .navlinks-children {
        a {
          background: $background-header;
          border: 1px solid $background-header;
        }
      }
    }
  }
}

// --- footer
footer {
	background: $background-footer;
	background-image: url(/images/orion.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: auto 120px;

  a {
    color: $color-footer;
  }
}

// --- post preview
.post-preview {
	font-family: $font-norm;
	a {
		color: $color-text;
		.post-title {
      padding: 2px 0;
      border-bottom: 1px solid $color-light;
    }
		.post-subtitle { }
		.img-title {
			max-height: 360px;
			width: auto;
    }
	}
	.post-meta {
		font-family: $font-meta;
		font-size: 0.9em;
	}
	.post-entry {
		font-family: $font-norm;
    text-align: justify;
	}
	.blog-tags { } // --> .blog-tags
}

/*
.post-image {
	float: right;
	height: 192px;
	width: 192px;
	margin-top: -35px;
	filter: grayscale(90%);
}

.post-image img {
	border-radius: 100px;
	height: 192px;
	width: 192px;
}
*/


// --- post header -----------------------------------------------------------
.intro-header {
  .blog-heading, .page-heading, .post-heading {
    h1 {
      font-size: 2.0em;
      text-shadow: 2px 2px 2px #aaa;
    }
  }

  .blog-heading .blog-subheading,
  .page-heading .page-subheading,
  .post-heading .post-subheading {
	  font-size: 1.4em;
	  font-family: $font-norm;
	  font-weight: $font-thin-weight;
  }
}

// --- post body -------------------------------------------------------------
/*
	.post-repository { //** for project page
		margin: 5px 0 !important;
		font-weight: $font-head-weight;
		a {
			color: $color-link;
		}
	}
*/
article.blog-page,
article.blog-post {
  font-family: $font-norm;
  font-size: 16px;

  h1, h2, h3, h4, h5 {
    margin-top: 2em;
  }

  h2 {
    padding: 4px 0;
    border-bottom: 1px solid $color-light;
  }

	p {
		line-height: 1.8;
		text-align: justify;
		margin: 1.2em 0;
		word-break: keep-all;
		&:first-of-type {
			margin-top: 0;
		}

		a {
			color: $color-link;
		}
	}

  img {
	  max-width: 95%;
	  &.dropshadow {
		  margin-top: 1em;
		  margin-bottom: 1em;
		  border: 1px solid #bbbbbb;
		  box-shadow: 3px 3px 5px #888888;
	  }
	  &.inline {
		  margin-left: 2rem;
		  margin-right: 2rem;
		  &.pull-left {
			  margin-left: 0;
		  }
		  &.pull-right {
			  margin-right: 0;
		  }
	  }
  }

	dl {
		&.help, &.info, &.warn, &.keypoint, &.point {
      margin: 1.5em 5px;
			dt {
				font-weight: normal;
				border-bottom: 1px dotted $color-light;
				&:before {
					font-family: FontAwesome;
					display: inline-block;
					width: 35px;
				}
			}
		}
		&.point {
			dt {
				color: $color-accent;
				&:before {
					content: "\f0eb"; // was \F0E7
				}
			}
		}
		&.keypoint {
			dt {
				color: $color-accent;
				&:before {
					content: "\f084"; // font-awesome key
				}
			}
		}
		&.warn {
			dt {
				color: $color-accent;
				&:before {
					content: "\f071"; // font-awesome exclamation-triangle
				}
			}
		}
		&.info {
			dt {
				color: $color-text;
				&:before {
					content: "\f05a"; // font-awesome info-circle
				}
			}
			dd {
				//color: $color-grey;
			}
		}
		&.help {
			dt {
				color: $color-text;
				&:before {
					content: "\f059"; // font-awesome question-circle
				}
			}
			dd {
				//color: $color-grey;
			}
		}

		dt {
			margin-top: 1em;
		}
		dd {
			padding-left: 35px;
		}
	}

  ul:not(.share) {
    li {
      list-style: square;
    }
    &.nodot > li {
      list-style: none;
    }
    &.angle > li {
      list-style: none;
      &:before {
        font-family: "FontAwesome"; content: "\f105"; // angle right
        margin-left: -30px; float: left;
      }
    }
    &.check > li {
      list-style: none;
      &:before {
        font-family: "FontAwesome"; content: "\f00c"; // fa-check
        margin-left: -30px; float: left;
      }
    }
    &.square-check > li {
      list-style: none;
      &:before {
        font-family: "FontAwesome"; content: "\f14a"; // fa-square-check
        margin-left: -30px; float: left;
      }
    }
  }

	.footnote-ref {
		&:before {
			content: '[' !important;
		}
		&:after {
			content: ']' !important;
		}
	}
	.footnotes {
		font-size: 0.8em;
		margin: 30px 0;
		ol {
			padding: 0 0 0 1em;
			p {
				margin-bottom: .5rem;
			}
		}
	}
}

// --- post body > bottom tags -----------------------------------------------
.blog-tags {
	clear: both;
	text-align: right;
	font-family: $font-norm;
	a {
		color: $color-link;

		&:hover {
			border-radius: 2px;
			color: #008AFF;
			background-color: #CCC;
		}
	}
}

.pager .previous > a,
.pager .next > a {
	font-size: 1em;
	color: $color-link;
	background: inherit;
	border: 1px solid transparent;
}
.pager .previous > a {
	padding-left: 0;
}
.pager .next > a {
	padding-right: 0;
}

// --- list page
.panel-group {
  .panel {
    background: $background-body;
    a.list-group-item {
      font-family: $font-norm;
      font-weight: inherit;
      background: $background-body;
    }
  }
}

// --- for printing ----------------------------------------------------------
/*
img {
	page-break-inside: avoid !important;
}
*/

// --- theme related: structure ----------------------------------------------
/*

// no parent on layout:post (under article.blog-post)
.post-signature {
	padding: 2rem 0;
	font-style: italic;
	line-height: 1;
}

// no parent on layout:post (under article.blog-post)
.post-tags {
	clear: both;
	text-align: right;
	&:before {
		content: "\F02C";
		font-family: FontAwesome;
		margin-right: 4px;
	}
	.tag-item {
		font-size: 0.8em;
		padding: 3px 4px;
		background: lighten($color-light, 15%);
		border-radius: 5px;
		display: inline-block;
		line-height: 1;
		vertical-align: middle;
	}
}
.post-message {
	margin: 2em 0;
	.post-request {
		text-align: center;
		font-style: italic;
		background: $background-box;
	}
}

div.posts-related {
	margin: 1em 0;
	padding: 0.5em 0;
	border: 1px solid  $color-light;
	border-radius: 0.5em;
	background: $background-box;
	h3 {
		margin-top: 0;
		padding: 0 0.5em;
	}
	.related-item {
		padding: 0.5em;
		color: $color-grey;
		border-top: 1px solid $color-light;
		font-family: $font-norm;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			content: "\F054";
			font-family: FontAwesome;
			margin-right: 0px;
		}
		.item-link {
			font-weight: $font-head-weight;
			text-transform: uppercase;
		}
		.item-meta {
			color: $color-grey;
			padding-left: 1em;
		}
		.excerpt {
			padding-left: 1em;
		}
	}
}

ul.post-related {
	list-style: none;
	padding: 0;

	li.item {
		clear: both;
		color: $color-grey;
		&:before {
			content: "\F054";
			font-family: FontAwesome;
			margin-right: 4px;
		}
		a {
			color: $color-link;
		}
		.post-meta {
			float: right;
			color: $color-grey;
			font-style: italic;
			font-size: 0.8em;
			.item-tag {
				letter-spacing: -0.05em;
			}
		}
	}
}

// --- pager -----------------------------------------------------------------
.pager li {
	& a, & span {
		font-family: $font-norm;
		text-transform: uppercase;
		font-weight: $font-head-weight;
		padding: 5px 5px;
		border: 0; // override bootstrap
		border-radius: 0;
		//letter-spacing: 1px;
	}
}
@media only screen and (min-width: 768px) {
	.pager li a {
		padding: 5px 5px;
	}
}

.blog-pager {
	li a {
		color: $color-link;
	}
	.previous>a, .previous>span {
		float: left;
		margin-right: 1em;
	}
	.next>a, .next>span {
		float: right;
		margin-left: 1em;
	}
}

.pager li a:focus,
.pager li a:hover {
	color: #FFF;
	background: #0085a1;
	border: 1px solid #0085a1;
}

.pager {
	margin: 10px 0;
}

.pager.blog-pager {
	margin-top: 0;
}
@media only screen and (min-width: 768px) {
	.pager.blog-pager {
		margin-top: 10px;
	}
}

// --- social share of the theme ---------------------------------------------
#social-share-section {
	margin: 1em 0 2em;
	.btn-twitter {
		//color: #55acee;
	}
	.btn-facebook {
		//color: #3b5998;
	}
	.btn-google {
		//color: #dd4b39;
	}
	.btn-linkedin {
		//color: #007bb6;
	}
	.btn-twitter,
	.btn-facebook,
	.btn-google,
	.btn-linkedin {
		//background-color: transparent;
		border-color: transparent;
		//border-radius: 50%;
	}
}

// --- theme decoration ------------------------------------------------------
hr.small {
	max-width: 100px;
	margin: 15px auto;
	border-width: 4px;
	border-color: inherit;
	border-radius: 3px;
}

*/



// --- unchecked
/*
.main-content {
	padding-top: 80px;
}
@media only screen and (min-width: 768px) {
	.main-content {
		padding-top: 130px;
	}
}

.main-explain-area {
	font-family: $font-norm;
	padding: 15px inherit;
}

.hideme {
	display: none;
}

::-moz-selection {
	color: white;
	text-shadow: none;
	background: #0085a1;
}

::selection {
	color: white;
	text-shadow: none;
	background: #0085a1;
}

img::selection {
	color: white;
	background: transparent;
}

img::-moz-selection {
	color: white;
	background: transparent;
}

.disqus-comments {
	margin-top: 30px;
}
@media only screen and (min-width: 768px) {
	.disqus-comments {
		margin-top: 40px;
	}
}
*/




/*
@media only screen and (max-width: 500px) {
	.post-image,
	.post-image img {
		height: 100px;
		width: 100px;
	}

	.post-image {
		width: 100%;
		text-align: center;
		margin-top: 0;
		float: left;
	}
}
*/
/*
table {
	padding: 0;
}

table tr {
	border-top: 1px solid #cccccc;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td:first-child,
table tr th:first-child {
	margin-top: 0;
}

table tr td:last-child,
table tr th:last-child {
	margin-bottom: 0;
}
*/

/* --- Code blocks --- */
/*
.highlight > pre,
pre.highlight,
td.code pre {
	//background-image: none;
	//background-repeat: repeat;
	//background-size: 3em 3em;
	//background-position: 0 10px;
	box-shadow: 2px 2px 4px #888888;
	border-radius: 0; // override bootstrap
}

code table,
code table tbody,
code table td,
code table th,
code table tr,
td.gutter pre {
	padding: 0;
	border: none;
	background-color: #fff;
}

.highlight > pre {
	padding: 0;
}

td.code pre {
	border-width: 0 0 0 2px;
	border-style: solid;
	border-color: #444;
	border-radius: 0;
}

td.gutter {
	padding-top: 3px;
}
*/

/* --- Google Custom Search Engine Popup --- */
/*
#modalSearch table tr,
#modalSearch table tr td,
#modalSearch table tr th {
	border: none;
}

.gsc-inline-block,
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:after,
.reset-box-sizing *:before {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.gsc-input-box,
.gsc-input-box-focus,
.gsc-input-box-hover,
.gsc-search-button,
input.gsc-input {
	box-sizing: content-box;
	line-height: normal;
}

.tagcloud {
	margin: 2em 2em;
	line-height: 1.4;
	text-align: justify;
	.tagdrop {
		word-break: keep-all;
		white-space: nowrap;
		a {
			padding: 0 0.2em;
		}
	}
}
*/

// --- for mobile ------------------------------------------------------------
/*
@media only screen and (max-width: 767px) {
	body {
		font-size: 15px;
	}
	.intro-header .page-heading h1,
	.intro-header .post-heading h1,
	h1 { font-size: 34px; }
	h2 { font-size: 28px; }
	h3 { font-size: 22px; }
	h4 { font-size: 18px; }
	h5 { font-size: 15px; }
	p {
		word-break: normal;
	}
	.container {
		padding-right: 0.5em;
		padding-left: 0.5em;
		article.blog-page p,
		article.blog-post p {
			line-height: 1.6;
		}
	}
}

// --- for printing ----------------------------------------------------------
@media print {
	body {
		font-size: 16pt;
	}
	.intro-header {
		margin: 40px 0;
	}
	#markdown-toc {
		page-break-inside: avoid !important;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	pre code {
		white-space: pre-wrap;
		word-break: break-all;
	}
	.post-meta a[href]:after,
	.post-tags a[href]:after {
		content: none !important;
	}
	.print-footer {
		border-top: 1px solid #ccc;
	}
	img {
		max-height: 70vh;
		max-width: 90% !important;
	}
	blockquote {
		padding: 10px 15px;
		border: 4px solid #ccc;
		border-radius: 10px;
	}
}
*/

// --- syntax highlight ------------------------------------------------------
//@import url("syntax.css");
