// header candidates: NanumBarunGothic, NotoSansCJKkr
$font-head: 'Open Sans','NanumSquare','Helvetica Neue',sans-serif;
$font-norm: 'Open Sans','Noto Sans KR','Helvetica Neue',sans-serif;
$font-meta: 'Open Sans','Noto Sans KR','Helvetica Neue',sans-serif;
$font-type: Monaco, "Ubuntu Mono", "Courier New", monospace !important;
$font-head-weight: 800; // 800 for NanumBarunGothic/NanumSquare, 700 for Noto
$font-thin-weight: 200;

$color-text: #404040;
$color-dark: #202020;
$color-grey: #aaaaaa;
$color-light: #cccccc;
$color-link: #0075aa;
$color-orange: #ee5500;
$color-cool: skyblue;
$color-accent: #ee5500;
$color-header: #ffffff;
$color-footer: #505050;
$color-comment: #a09090;

$background-body: #f9f9f9;
$background-box: #fbfbfb;
$background-black: #111111;
$background-header: #000000;
$background-footer: #f5f5f5;
$background-marker: linear-gradient(transparent 30%, #edf3ff 50%, #d0f9ff 80%);
$background-point: #454545;

$background-styled: linear-gradient(#eeeeee 0%, #ffffff 40%, #ffffff 60%, #eeeeee 100%);
$background-th: #eeeeee;
$background-td: #ffffff;
$color-border: $color-light;

//@import url(syntax-extra.css);

// --- general ---------------------------------------------------------------
body {
	color: $color-text;
	background: $background-body;
	font-family: $font-norm;
	font-size: 16px;
}

strong {
	color: $color-dark;
	font-weight: normal;
	background: $background-marker;
}
em {
	color: $color-dark;
	font-weight: normal;
}

blockquote {
	font-size: 1em;
	font-style: normal;
	margin: 1em 0;
	padding: 2px 25px;
	border-left: 10px solid $color-light;
	//padding-left: 40px; // instead of 20px

	&.comment {
		border-left-color: transparent;
		&:before {
			font-family: "font awesome 5 free";
			content: "\f075";
			display: inline-block;
			width: 1.5em;
			margin-left: -35px;
			float: left;
			//color: $color-cool;
		}
	}
	&.point {
		border-left-color: transparent;
		color: $color-text;
		&:before {
			font-family: "font awesome 5 free";
			content: "\f0a6"; // fa-hand-point-up
			display: inline-block;
			width: 1.5em;
			margin-left: -35px;
			float: left;
			color: $color-accent;
		}
	}
	&.boxed {
		padding: 10px 20px;
		border: 1px solid #ccc;
		border-radius: 8px;
		background: none;
		box-shadow: 2px 2px 4px #888888;
	}
	& *:first-child {
		margin-top: 0 !important;
	}
	& *:last-child {
		margin-bottom: 0 !important;
	}
}

.highlight pre,
pre {
	font-family: $font-type;
	font-size: 0.8em;
	line-height: 1.2;
	box-shadow: 2px 2px 4px #888888;
	& code {
		//font-family: $font-type;
		white-space: pre-wrap;
		//word-break: break-all;
		.nowrap & {
			white-space: pre;
		}
	}
}

code {
	background-color: #f9f2f4;
	color: #c7254e;
}

a {
	color: $color-link;
}

table {
	font-size: 0.9em;
	margin: 1rem auto;
	display: table !important;

	thead tr, tbody tr {
		th, td {
			padding: 1px 1em;
			border-width: 1px 0;
		}
	}

	thead {
		tr {
			background: $background-th;
			border-top: 1px solid darken($color-border, 15%);
		}
	}
	tbody {
		tr {
			background: $background-td; border-top: 1px solid $color-border;
			&:nth-child(even) { background: darken($background-td, 3%); }
			&:first-child { border-top: 1px solid darken($color-border, 15%); }
			&:last-child { border-bottom: 1px solid darken($color-border, 15%); }
		}
	}

	&.fit { width: 95%; margin: 1rem auto; }
	&.filled { width: 100%; }
	&.centered { margin: 1rem auto; max-width: 80%; min-width: 50%; }
	&.styled {
		thead {
			tr {
				background: $background-styled;
				border-top: 1px solid darken($color-border, 15%);
			}
		}
		tbody {
			tr {
				background: $background-td; border-top: 1px solid $color-border;
				&:nth-child(even) { background: darken($background-td, 3%); }
				&:first-child { border-top: 1px solid darken($color-border, 15%); }
				&:last-child { border-bottom: 1px solid darken($color-border, 15%); }
			}
		}
	}
	&.borderless {
		thead tr, tbody tr {
			background: transparent;
		}
		thead tr th, tbody tr td {
			border-color: transparent;
		}
	}
}

// --- my widgets ------------------------------------------------------------
/*
div.barchart {
	.chart-item {
		margin-bottom: 2px;
		clear: both;
		.chart-item-bar {
			display: inline-block;
			vertical-align: middle;
			border: 1px solid lighten($color-grey, 20%);
			border-radius: 3px;
			padding: 2px;
			.bar {
				float: right;
				width: 100px;
				height: 0.6em;
				background: #0075aa;
				border-radius: 2px;
			}
		}
		.chart-item-label {
			color: $color-grey;
			line-height: 1.2;
			padding: 0 0 0 6px;
		}
	}
}

#markdown-toc {
	margin: 0.5rem 2rem;
	padding: 0.5rem 1rem;
	background: #f9f9f9;
	border-radius: 0.5rem;
	li {
		list-style: none;
	}
	ul {
		padding-left: 1.5em;
	}
	&.pull-right {
		margin-right: 0;
		min-width: 40%;
	}
}
@media only screen and (max-width: 767px) {
	#markdown-toc {
		&.pull-right {
			float: none !important;
			margin-right: 2rem;
			max-width: 100% !important;
		}
	}
}
*/

// --- common modifier -------------------------------------------------------
.onethird { max-width: 33% !important; display: block; }
.twothird { max-width: 66% !important; display: block; }
.half		 { max-width: 50% !important; display: block; }

.bordered {
	border: 1px solid $color-dark;
}
.centered {
	text-align: center !important;
}

.mix-clear { clear: both; }
.mix-margin {
	margin: 0.5rem 2rem !important;
	&.pull-right {
		margin-right: 0 !important;
	}
	&.pull-left {
		margin-left: 0 !important;
	}
}
.mix-boxed {
	border: 1px solid $color-light;
	padding: 2px 8px;
	&.mix-round {
		border-radius: 8px;
	}
}
.mix-large { font-size: 1.2em; }
.mix-xlarge { font-size: 1.4em; }
.mix-xxlarge { font-size: 1.6em; }
.mix-xxxlarge { font-size: 1.8em; }

.block-title {
	font-size: 0.9em;
	background: darken($background-body, 3%);
	padding-left: 3em;
	&:before {
		content: "\f14a"; // square-check
		font-family: FontAwesome;
		display: inline-block;
		margin-left: -2.5em;
		width: 1.5em;
	}
}

.inline { display: inline-block; }
.inline-badges {
	a {
		display: inline-block;
	}
}

/*
.fit svg, .fit {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
.filled { width: 100%; }
*/

// ---------------------------------------------------------------------------
// --- override bootstrap/theme default --------------------------------------
//
// --- navbar ----------------------------------------------------------------
.navbar-custom {
	background: $background-header;
	border-bottom: 1px solid $background-header;

	font-family: $font-head;

	.navbar-brand,
	.nav li a {
		color: $color-header;
		font-weight: $font-head-weight;
		&:focus, &:hover {
			color: #0085a1;
		}
	}

	.avatar-container .avatar-img {
		border: 3px solid $background-header;
	}

	.nav {
		.navlinks-container {
			&:hover {
				background: $background-header;
			}
			.navlinks-children {
				a {
					background: $background-header;
					border: 1px solid $background-header;
				}
			}
		}
	}
}

// --- post header -----------------------------------------------------------
.intro-header {
	&.big-img { // homepage
		.page-heading {
			h1 {
				font-size: 3.0em;
				text-shadow: 2px 2px 2px $color-dark;
			}
			hr.small {
				box-shadow: 1px 1px 2px $color-dark;
			}
		}
	}

	.categories-heading, .tags-heading,
	.projects-heading, .page-heading, .blog-heading, .post-heading { // common
		h1 {
			margin-top: 20px;
			text-shadow: 2px 2px 2px $color-grey;
		}
		hr.small {
			color: lighten($color-text, 10%);
			box-shadow: 1px 1px 2px $color-grey;
		}
		.projects-subheading, .page-subheading,
		.blog-subheading, .post-subheading {
			font-size: 1.4em;
			font-family: $font-norm;
			font-weight: $font-thin-weight;
		}
	}

	.categories-heading, .tags-heading,
	.projects-heading, .page-heading {
		text-align: center;
		h1 {
			font-size: 2.5em;
		}
		.projects-subheading, .page-subheading {
			margin-top: 20px;
		}
	}

	.blog-heading, .post-heading { // articles
		h1 {
			font-size: 2.0em;
			border-bottom: 1px solid $color-grey;
			padding-bottom: 4px;
		}
		hr.small {
			display: none;
		}
		.blog-subheading, .post-subheading {
			margin-top: 10px;
		}
		.post-meta {
			font-size: 0.9em;
			color: $color-grey;
		}
	}
}

// --- post preview ----------------------------------------------------------
.post-preview {
	font-family: $font-norm;
	a {
		color: $color-text;
		.post-title {
			padding: 2px 0;
			border-bottom: 1px solid $color-light;
		}
		.post-subtitle { }
		.img-title {
			max-height: 360px;
			width: auto;
		}
	}
	.post-meta {
		font-family: $font-meta;
		font-size: 0.9em;
	}
	.post-entry {
		font-family: $font-norm;
		text-align: justify;
	}
	.blog-tags { } // --> .blog-tags
}

// --- post body -------------------------------------------------------------
article.blog-page,
article.blog-post {
	font-family: $font-norm;
	font-size: 16px;

	h1, h2, h3, h4, h5 {
		margin-top: 2em;
	}

	h2 {
		padding: 4px 0;
		border-bottom: 1px solid $color-light;
	}

	p {
		line-height: 1.8;
		text-align: justify;
		margin: 1.2em 0;
		word-break: keep-all;
		&:first-of-type {
			margin-top: 0;
		}

		a {
			color: $color-link;
		}
	}

	img {
		max-width: 95%;
		&.dropshadow {
			margin-top: 1em;
			margin-bottom: 1em;
			border: 1px solid #bbbbbb;
			box-shadow: 3px 3px 5px #888888;
		}
		&.inline {
			margin-left: 2rem;
			margin-right: 2rem;
			&.pull-left {
				margin-left: 0;
			}
			&.pull-right {
				margin-right: 0;
			}
		}
	}

	dl {
		&.help, &.info, &.warn, &.keypoint, &.point {
			margin: 1.5em 5px;
			dt {
				font-weight: normal;
				border-bottom: 1px dotted $color-light;
				&:before {
					font-family: FontAwesome;
					display: inline-block;
					width: 35px;
				}
			}
		}
		&.point {
			dt {
				color: $color-accent;
				&:before {
					content: "\f0eb"; // was \F0E7
				}
			}
		}
		&.keypoint {
			dt {
				color: $color-accent;
				&:before {
					content: "\f084"; // font-awesome key
				}
			}
		}
		&.warn {
			dt {
				color: $color-accent;
				&:before {
					content: "\f071"; // font-awesome exclamation-triangle
				}
			}
		}
		&.info {
			dt {
				color: $color-text;
				&:before {
					content: "\f05a"; // font-awesome info-circle
				}
			}
			dd {
				//color: $color-grey;
			}
		}
		&.help {
			dt {
				color: $color-text;
				&:before {
					content: "\f059"; // font-awesome question-circle
				}
			}
			dd {
				//color: $color-grey;
			}
		}

		dt {
			margin-top: 1em;
		}
		dd {
			padding-left: 35px;
		}
	}

	ul:not(.share) {
		li {
			list-style: square;
		}
		&.nodot > li {
			list-style: none;
		}
		&.angle > li {
			list-style: none;
			&:before {
				font-family: "FontAwesome"; content: "\f105"; // angle right
				margin-left: -30px; float: left;
			}
		}
		&.check > li {
			list-style: none;
			&:before {
				font-family: "FontAwesome"; content: "\f00c"; // fa-check
				margin-left: -30px; float: left;
			}
		}
		&.square-check > li {
			list-style: none;
			&:before {
				font-family: "FontAwesome"; content: "\f14a"; // fa-square-check
				margin-left: -30px; float: left;
			}
		}
	}

	.footnote-ref {
		&:before {
			content: '[' !important;
		}
		&:after {
			content: ']' !important;
		}
	}
	.footnotes {
		font-size: 0.8em;
		margin: 30px 0;
		ol {
			padding: 0 0 0 1em;
			p {
				margin-bottom: .5rem;
			}
		}
	}
}

/*
	.post-repository { //** for project page
		margin: 5px 0 !important;
		font-weight: $font-head-weight;
		a {
			color: $color-link;
		}
	}
*/

// --- post body > bottom: tags, pager ---------------------------------------
.blog-tags {
	clear: both;
	text-align: right;
	font-family: $font-norm;
	a {
		color: $color-link;

		&:hover {
			border-radius: 2px;
			color: #008AFF;
			background-color: #CCC;
		}
	}
}

.pager .previous > a,
.pager .next > a {
	font-size: 1em;
	color: $color-link;
	background: inherit;
	border: 1px solid transparent;
}
.pager .previous > a {
	padding-left: 0;
}
.pager .next > a {
	padding-right: 0;
}

// --- post list (categories, tags) ------------------------------------------
.panel-group {
	.panel {
		background: $background-body;
		a.list-group-item {
			font-family: $font-norm;
			font-weight: inherit;
			background: $background-body;
		}
	}
}

// --- footer ----------------------------------------------------------------
footer {
	background: $background-footer;
	background-image: url(/images/orion.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: auto 120px;

	a {
		color: $color-footer;
	}
}

// --- syntax highlight ------------------------------------------------------
//@import url("syntax.css");
pre.chroma { // theme github-dark
	color: #e6edf3;
	background-color: #0d1117;
}




// --- for printing ----------------------------------------------------------
/*
img {
	page-break-inside: avoid !important;
}
*/

// --- for mobile ------------------------------------------------------------
/*
@media only screen and (max-width: 767px) {
	body {
		font-size: 15px;
	}
	.intro-header .page-heading h1,
	.intro-header .post-heading h1,
	h1 { font-size: 34px; }
	h2 { font-size: 28px; }
	h3 { font-size: 22px; }
	h4 { font-size: 18px; }
	h5 { font-size: 15px; }
	p {
		word-break: normal;
	}
	.container {
		padding-right: 0.5em;
		padding-left: 0.5em;
		article.blog-page p,
		article.blog-post p {
			line-height: 1.6;
		}
	}
}

// --- for printing ----------------------------------------------------------
@media print {
	body {
		font-size: 16pt;
	}
	.intro-header {
		margin: 40px 0;
	}
	#markdown-toc {
		page-break-inside: avoid !important;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	pre code {
		white-space: pre-wrap;
		word-break: break-all;
	}
	.post-meta a[href]:after,
	.post-tags a[href]:after {
		content: none !important;
	}
	.print-footer {
		border-top: 1px solid #ccc;
	}
	img {
		max-height: 70vh;
		max-width: 90% !important;
	}
	blockquote {
		padding: 10px 15px;
		border: 4px solid #ccc;
		border-radius: 10px;
	}
}
*/

// vim: set noexpandtab:
