---
title: Index of Tags
layout: page
---
{% assign m_count = 7 %}
{% assign l_count = 2 %}
{% for t in site.tags %}
  {% assign c_count = t |last |size %}
  {% if c_count > m_count %}
    {% assign m_count = c_count %}
  {% endif %}
{% endfor %}
{% assign step = 1.6 |minus:0.6 |divided_by: m_count %}
<h1 class="underline">{{ page.title }}</h1>
<div class="barchart">
{% assign tags = site.tags |sort %}
{% for category in tags %}
  {% assign cat_name = category |first %}
  {% assign cat_size = category |last |size %}
  {% comment %}
  {% if false and l_count > cat_size %}
    {% continue %}
  {% endif %}
  {% assign font_size = cat_size |times: step |plus: 0.8 %}
  {% endcomment %}
  {% assign bs = cat_size |times: 100 |divided_by: m_count %}
  <div class="item">
    <div class="frame"><div class="bar" style="width: {{bs}}%"></div></div>
    <div class="label">
      <a href="/tags/{{cat_name}}.html" title="{{cat_size}}">{{cat_name}}</a>
      <span class="details"> » {{cat_size}}</span>
    </div>
  </div>
{% endfor %}
</div>
