---
common-css:
  - "/assets/css/bootstrap.min.css"
  - "/assets/css/bootstrap-social.css"
  - "/assets/override.css"
common-ext-css:
  - "/assets/vendor/font-awesome/css/font-awesome.min.css"
  - "/assets/fonts/nanum/NanumBarunGothic.css"
  - "//cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css"
  - "//fonts.googleapis.com/earlyaccess/notosanskr.css"
common-googlefonts:
  - "Ubuntu+Mono:400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
  - "/assets/js/jquery-1.11.2.min.js"
  - "/assets/js/bootstrap.min.js"
  - "/assets/js/main.js"
  - "/assets/vendor/raphael-min.js"
  - "/assets/vendor/underscore-min.js"
  - "/assets/vendor/sequence-diagram-min.js"
---

<!DOCTYPE html>{%
if page.lang
%}
<html lang="{{ page.lang | split: '-' | first }}">{%
else %}
<html lang="{{ site.lang | split: '-' | first }}">{%
endif %}
{% include head.html %}
  <body>
{% include nav.html %}

{{ content }}

{% include footer.html %}
{% include footer-scripts.html %}
  </body>
</html>
