---
layout: sidebar
---

<div class="post item">
	<h1 class="post-title underline">{{ page.title }}</h1>
	<div class="post-details">
		<a href="/categories/{{page.categories |last |downcase}}.html"
			class="post-category">{{page.display}}</a>
		Posted at <span class="date">{{ page.date | date: "%F %T" }}</span>,
		{% if page.modified %}Edited at <span class="date">{{ page.modified | date: "%F %T" }}</span>,{% endif %}
	</div>

	<div class="post-share tar">
		{% include share-item.html %}
	</div>

	<div class="post-content">
{{ content }}
		<div>
			-- <br>
			"And in the end, the love you take is equal to the love you make."
			-- by the Beatles
		</div>
	</div>

	<div class="post-meta">
		<div class="post-tags">
		Tags:
		{% for tag in page.tags %}
		<a class="tag-item" href="/tags/{{ tag }}.html"
			title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
		{% endfor %}
		</div>

		<div class="post-hierarchy">
			{% if page.previous %}
			<a href="{{ page.previous.url }}"
				title="Previous post"><i class="icon arrow left"></i> Prev</a>
			{% endif %}
			{% if page.previous %}|{% endif %}
			{% if page.next %}
			<a href="{{ page.next.url }}"
				title="Next post">Next <i class="icon arrow right"></i></a>
			{% endif %}
		</div>

		<div class="post-comments">
		</div>

	</div>

	<div class="post-share item-bottom">
		{% include share-item.html %}
	</div>

</div>

<div class="post-tail">
	<h2>Related Posts</h2>
	<ul class="posts">
	{% for t in page.tags %}
		{% for p in site.tags.[t] %}
			{% if page.path != p.path %}
				<li><span class="meta">{{ p.date |date: '%F' }}</span> &raquo; <a
					href="{{ p.url }}">{{ p.title }}</a>
					<span class="meta">Tagged with {{t}}</span>
				</li>
			{% endif %}
		{% endfor %}
	{% endfor %}
	</ul>
</div>

 
<!-- begining of disqus block -->
<div class="post-tail">
<div id="disqus_thread"></div>
<script type="text/javascript">
	//var disqus_developer = true;
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = 'http://sio4-github.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=sio4-github">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<script type="text/javascript">
//<![CDATA[
(function() {
var links = document.getElementsByTagName('a');
var query = '?';
for(var i = 0; i < links.length; i++) {
if(links[i].href.indexOf('#disqus_thread') >= 0) {
query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
}
}
document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/sio4-github/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
</div>
<!-- end of disqus block -->

<!-- vim: set ts=2 sw=2 noexpandtab: -->
