---
layout: site
---
<div class="page-body">
	{{ content }}
</div>

<div class="page-sidebar">
	<div class="side-widget" id="personal">
		{% include personal.html %}
	</div>

	<div class="side-widget" id="facebook-like">
		<div id="facebook-box">
			<fb:like width="250px"></fb:like>
		</div>
	</div>

	<div class="side-widget" id="my-project">
		<h1>My Projects</h1>
		{% include projects.html %}
		<div>&raquo; <a href="/pages/projects.html">자세히...</a></div>
	</div>

	<div class="side-widget" id="recent-posts">
		<h1>Recent Posts</h1>
		<ul class="posts">
			{% for post in site.posts limit:5 %}
			<li><a href="{{ post.url }}">{{ post.title }}</a>
			{% endfor %}
		</ul>
	</div>

	<div class="side-widget" id="categories">
		<h1>Categories</h1>
		{% include categories.html %}
	</div>

	<div class="side-widget" id="tagcloud">
		<h1>Popular Tags</h1>
		{% include tags.html %}
	</div>

	<div class="side-widget" id="social-networks">
		<h1>My Networks</h1>

		<div class="widget-box" id="delicious-box">
		</div>

		<div class="widget-box tac" id="flickr-box">
		{% include flickr-badge.html %}
		</div>
	</div> <!-- my network -->
</div>
